#thMa, #thLoai {
    width: 150px
}
#thHinh, #thMau, #thTen {
    width: 200px
}
#thGia, #thSL {
    width: 120px
}
#thMoTa {
    width: 400px;
}

button {
    margin: 20px 50px;
    width: 100px;
}

td {
    vertical-align: top;
}

td.td-ma {
    word-break: break-all;
}
td.td-hinh img {
    height: 100px;
    width: auto; 
}

#img-preview {
    padding: 10px;
    width: 100%;
}

/* ar */
mat-slider {
    width: 100%;
}
canvas {
    border: 2px solid rgba(0,0,0,0.12);
    transition: 300ms;
    border-radius: 4px;
  }
  
canvas:hover {
  border: 3px solid rgba(255,0,0,1);
}