<div class="container w-50 m-v-padding">
    <h1>Add news</h1>
    <!-- {{tinTucForm.value | json}} -->

    <form [formGroup]="tinTucForm"
        action=""
        (ngSubmit)="themTinTuc()">

        <mat-form-field>
            <input matInput type="text" placeholder="Title" formControlName="tieuDe">
            <mat-error *ngIf="tieuDe.errors?.required && tieuDe.touched">
            Title must not be empty
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Link" formControlName="duongDan">
            <mat-error *ngIf="duongDan.errors?.required && duongDan.touched">
            Website url must not be empty
            </mat-error>
        </mat-form-field>
        <h3>Image</h3>
        <p-fileUpload name="myfile[]" 
        class="inner-white"
        customUpload="true" 
        accept="image/*" 
        [auto]="true"
        (uploadHandler)="processFile($event)"></p-fileUpload>
        <mat-form-field>
            <textarea matInput 
            placeholder="Subtitle" 
            formControlName="noiDung" 
            rows="8"
            ></textarea>
        </mat-form-field>

        <br>

        <button mat-raised-button 
                [disabled]="tinTucForm.invalid" 
                color="primary">Confirm</button>
    </form>

    <p-toast></p-toast>
</div>