<div class="container m-v-padding">
    <div class="container" style="margin-bottom: 100px;">
    <form action=""
        [formGroup]="donHangForm"
        (ngSubmit)="chuyenTinhTrang()">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="tinhTrangTu"
                    (selectionChange) = "thayDoiTinhTrangTu()">
                    <mat-option>
                    
                    </mat-option>
                    <mat-option *ngFor="let loai of tinhTrangOptions" [value]="loai">
                    {{loai}}
                    </mat-option>
                </mat-select>                
                </mat-form-field>
            </div>
            <div class="col-md-2" style="vertical-align: middle; ">
                <h2 style="text-align: center;">Change to</h2>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="tinhTrangDen">
                    <mat-option *ngFor="let loai of tinhTrangOptions" [value]="loai">
                    {{loai}}
                    </mat-option>
                </mat-select>                
                <mat-error *ngIf="tinhTrangDen.errors?.required && tinhTrangDen.touched">
                    Status must not be null
                </mat-error>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
            <button mat-raised-button style="width: 100%;"
            [disabled]="donHangForm.invalid" color="primary">Confirm status change</button>
            </div>
        </div>
    </form>
    </div>

    <b>A</b>: Select orders to change state <br>
    <b>B</b>: Select order to inspect that order details
    <p-table #donHangTable [value]="dsDonHang" 
        [(selection)]="dsDonHangChon" 
        selectionMode="multiple"
        dataKey="Ma" 
        [paginator]="true" 
        [rows]="5"
        frozenWidth="50px"
        
        (onPage)="handleOnPage($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 50px">A</th>
                <th style="width: 50px;">B</th>
                <th>Id</th>
                <th>Customer name</th>
                <th>Customer phone number</th>
                <th>Delivery address</th>
                <th>Create date</th>
                <th>Status</th>
                <th>Initial</th>
                <th>Discount</th>
                <th>Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donHang let-rowIndex="rowIndex">
            <tr class="inner-align-top" >
                <td style="width: 50px; vertical-align: middle;">
                    <p-tableCheckbox (onRowSelect) = "handleRowSelect($event)"
                     [value]="donHang"></p-tableCheckbox>
                </td>
                
                <td style="width: 50px; vertical-align: middle;" class="hieu-1">
                    <p-radioButton 
                    name="groupname"
                    [(ngModel)]="donHangChon"
                    value = "{{rowIndex}}"
                    (click)="rowHoaDonClicked($event, donHang)"
                    ></p-radioButton>
                </td>

                <td class="td-ma word-break">{{donHang.Ma}}</td>
                <td class="td-ten-kh">{{donHang.TenKhachHang}}</td>
                <td class="td-sdt">{{donHang.SoDienThoai}}</td>
                <td class="td-dia-chi">{{donHang.DiaChi}}</td>
                <td class="td-tgdh word-break">{{donHang.ThoiGianDatHang.seconds*1000 | date:'dd-MM-yyyy'}}</td>
                <td class="">{{donHang.TinhTrang}}</td>
                <td class="">{{donHang.TongCong|currency:'VND':'symbol'}}</td>
                <td class="">{{donHang.KhuyenMai|currency:'VND':'symbol'}}</td>
                <td class="">{{donHang.TongCong - donHang.KhuyenMai|currency:'VND':'symbol'}}</td>
            </tr>
        </ng-template>

        
        <ng-template pTemplate="frozenheader">
        </ng-template>
        <ng-template pTemplate="frozenbody" let-donHang>
            <tr>
            </tr>
        </ng-template>
    </p-table>

    <br>

    <!-- bảng liệt kê danh sách Chi tiết đơn hàng dựa trên đơn hàng đã chọn trong database -->
    <p-table #ctdhTable [value]="dsCtdh" 
    [(selection)]="ctdhChon" 
    dataKey="Ma" 
    [paginator]="true" 
    [rows]="10"
    (onPage)="handleOnPage($event)"
    >
    <ng-template pTemplate="header">
        <tr>
            <!-- <th></th> -->
            <th>Item Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Size</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ctdh>
        <tr class="inner-align-top">
            <td class="word-break">{{ctdh.MaPhuKien}}</td>
            <td class="">{{ctdh.PhuKienThoiTrang.Ten}}</td>
            
            <td>
                <img class="img-in-table-1" src="{{ctdh.PhuKienThoiTrang.Hinh}}" alt="">
            </td>
            <td class="">{{ctdh.KichThuoc}}</td>
            <td class="">{{ctdh.PhuKienThoiTrang.Gia|currency:'VND':'symbol'}}</td>
            <td class="">{{ctdh.SoLuong}}</td>
        </tr>
    </ng-template>
    </p-table>
<p-toast></p-toast>
</div>