<div class="s-h-padding s-v-padding">
    <div class="p-grid">
    <div class="p-col-3">
        <!-- bảng liệt kê danh sách tin tức trong database -->
        <p-table [value]="dsTinNhan"
            [(selection)]="tinNhanChon" 
            dataKey="Ma" 
            [paginator]="true" 
            [rows]="5"
            (onPage)="handleOnPage($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3em"></th>
                    <th id="thMa">Email</th>
                    <th id="thTieuDe">Title</th>
                    <th id="thNoiDung">Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tinNhan>
                <tr>
                    <td>
                        <p-tableRadioButton 
                        (click)="rowClicked()"
                        [value]="tinNhan"></p-tableRadioButton>
                    </td>
                    <td>{{tinNhan.TenNguoiTao}}</td>
                    <td>{{tinNhan.TieuDe}}</td>
                    <td>
                        <div *ngIf="tinNhan.KetThuc; else elseBlock">
                            Closed.</div>
                        <ng-template #elseBlock>Open.</ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    <div class="p-col-9">
        <!-- chat section -->
        <div class="my-scroll">
        <ul>
            <ng-template ngFor let-cttn [ngForOf]="dsCTTN" let-i="index">
                <div *ngIf="cttn.TenNguoiTao != 'Quản trị'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <li class="him">
                        {{cttn.NoiDung}}
                    </li>
                </ng-template>
                <ng-template #elseBlock>
                    <li class="me">
                        {{cttn.NoiDung}}
                    </li>
                </ng-template>
            </ng-template>
        </ul>
        </div>

        <div class="p-fluid p-grid">
            <div class="p-col">
                <input placeholder="Reply" type="text" [(ngModel)]="replyText" pInputText />
            </div>
            <div class="p-col-fixed" style="width: 100px;">
                <p-button label="Send" (onClick)="sendReply($event)">

                </p-button>
            </div>
        </div>
    </div>
    </div>
    <p-toast></p-toast>
</div>